# Built artifacts
**/build/
*.apk
*.aar
*.ap_

# Gradle files
.gradle/
/build/

# Android Studio local configuration and cache
local.properties
.navigation/
captures/
.externalNativeBuild/
.cxx/
/hprof/

# IDEA files
.idea/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db
